body{
  font-family: Courier New, monospace;
  font-size:1em;
  padding:0;
  margin:0;
  background-color:#000010;
  color: #fff;
}

/* Global */
.container{
  max-width: 500px;
  margin:15px auto;
  overflow: hidden;
  padding: 10px;
}

ul{
  list-style-type: none;
  margin:10;
  padding:0; 
}

/* Header */
header{
  color:#ffffff;
  padding-top:20px;
  min-height:100px;
  text-align:center;
  /*border-bottom:#e8491d 1px dotted;*/
}

Header h1{
  margin-bottom: 30px;
  text-align:center;
}
header a{
  color:#ffffff;
  text-decoration:none;
}

header li{
  display:inline;
  padding: 5px;
  text-transform: uppercase;
}

header nav{
  margin-bottom: 10px
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:normal;
  border-bottom: 1px dotted #e8491d;
}

header a:hover{
  color:#cccccc;
  font-weight:normal;
}

img {
  border-radius: 2px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin: auto;
}

.box-1{
	color:#fff;
}

/*musik och Kontakt*/
#musik{
  padding:0px;
  color:#ffffff;
  text-align:center;
}

#musik li{
  padding:10px;
  text-align:left;
}
#musik a{
  color:#ffffff;
  text-decoration:none;
}

#musik a:hover{
  color:#cccccc;
  font-weight:normal;
      border-bottom: 2px dotted #e8491d;
}

footer{
  margin-top:50px;
  margin-bottom: 45px;
  color:#ffffff;
  text-align: center;
}

/* Media Queries */
@media(max-width: 500px){
  header
  header h1,
  header nav,
  header nav li,
  h1,
  #musik h2{
    float:none;
    text-align:center;
    width:100%;
  }

}
